### Directory - api ###

api/target/
api/!.mvn/wrapper/maven-wrapper.jar

# STS
api/.apt_generated
api/.classpath
api/.factorypath
api/.project
api/.settings
api/.springBeans
api/.sts4-cache

### Directory - app ###

# node.js 
app/node_modules/
app/npm-debug.log
app/yarn-error.log

### IDE ###

# VS Code
.vscode

# IntelliJ IDEA 
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore


